body{
    font-family: Arial, sans-serif;
    background:#f2f2f2;
}

.form-container{
    width: 380px;
    margin: 80px auto;
    background:#fff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
    text-align:center;
}

.title{
    font-size:26px;
    margin-bottom:20px;
}

.input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:8px;
}

.form-btn{
    width:100%;
    padding:12px;
    border:none;
    background:#111;
    color:#fff;
    border-radius:8px;
    font-weight:700;
    cursor:pointer;
}
