body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url(../../../../../../../../../Pictures/01b393e98856409f1e9ad203434bc813.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.header-buttons {
    display: flex;
    gap: 15px;
    border-radius: 20px;
}
header {
    padding: 20px 0;
    position: sticky;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    margin: 0 auto;
}
.header-btn {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.header-btn:hover {
    background-color: #cf5504;
}
.logo {
    width: 220px;
    height: auto;
    animation-name: logo;
    animation-duration: 3s;
}
.site-title {
    font-size: 40px; 
    font-family: sans-serif ;
    font-style: italic;
    flex-grow: 1;
    color: white;
    text-align: center;
    
}
.form-container {
    margin-left: 32%;
   
    justify-content: center;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.425);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px; 
    backdrop-filter: blur(20px);
}

.form-title {
    text-align: center;
    color: #ffffff; 
    margin-bottom: 20px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; 
}
.card-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
   }
   .card-options label{
    color: black;
   }
input[type="text"] {
    width: 100%;
    
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff; 
    outline: none; 
}

.form-footer {
    text-align: center;
    margin-top: 20px;
}

.submit-btn {
    background-color: #28a745; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838; 
}